[Unit]
Description=Cloud SQL Auth Proxy
After=network.target

[Service]
User=cloudsqlproxy
ExecStart=/usr/local/bin/cloud-sql-proxy --address "0.0.0.0" ${PROXY_ARGS}
Restart=always

[Install]
WantedBy=multi-user.target